@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 28px;
  background-color: hsl(218, 23%, 16%);
  font-family: "Manrope", sans-serif;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.main-container {
  display: flex;
  justify-content: center;
  background-color: hsl(217, 19%, 24%);
  border-radius: 20px;
}
